body {
    background-color: #365b71;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1400px;
    margin: 10px auto;
    background-color: #fff;
    min-height: 150vh;
}

nav {
    background-color: #3f210e;
    height: 100px;
    padding: 10px;
}

nav img {
    width: 200px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f210e;
    background-image: 
        linear-gradient(#3f210e, transparent),
        url("../images/ground-up-coffee-shop-2600x1300.jpg");
    background-size: cover;
    height: 700px;
    text-align: center;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.75rem;
}

main {
    /* border: 3px dashed red; */
    text-align: center;
    width: 850px;
    margin: 4rem auto 0;
}

main h2 {
    margin: 0;
    padding: 1rem;
    text-transform: uppercase;
    color: #622f10;
}

h2 span {
    font-size: 2.5rem;
    text-transform: none; /* turn off uppercase */
}

.little-svg {
    margin-top: 1rem;
    width: 85px;
}

/* flex for the sections to get img-text side-by-side */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px dashed orange; */
    margin: 2rem 1rem;
    padding: 1rem;
    text-align: left;
}

section img {
    width: 300px;
}

section div {
    /* border: 3px dashed purple; */
    margin: 1rem;
    padding: 1rem;
    width: 500px;
}

section p {
    color: #9b5225;
    line-height: 1.33rem;
}

/* target the 3rd child that is also a section in main to reverse img-text positions nth-child(3) means 3rd child of parent, which is main which goes: div, sect, sect, sect 
so the 3rd child is the 2nd section */
main section:nth-child(3) {
    flex-direction: row-reverse;
    text-align: right;
}

h3 {
    font-size: 1.33rem;
    color: #622f10;
}

.food-drink-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 92%;
    /* border: 3px dashed blue; */
    margin: 1rem;
    padding: 1rem;
}

.drink, .food {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 375px;
    height: 290px;
}

.drink {
    background-image: url(../images/glass-of-iced-coffee.png);
    background-size: cover;
}

.food {
    background-image: url(../images/egg-on-toast.png);
    background-size: cover;
}

h4 {
    font-size: 1.33rem;
    margin-bottom: 0.75rem;
    color: #fff;
}

footer {
    height: 250px;
    border-top: 1px solid #9b5225;
    margin: 1rem;
    padding: 1rem;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.info p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    text-align: center;
}

.social img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    margin: 0.5rem;
}

footer p {
    text-align: center;
}

